// Color texto
$color-primario: #CCD1D1;

//Color Background
$color-fondo-primario: #2C3E50;
$color-fondo-secundario: #283747;

//Color botones
$color-boton-primario: #566573;
$color-boton-secundario: #34495E;