// Color texto
$color-primario:#F4F6F6;
$color-secundario: #CCD1D1; 
$color-tercero:#F1C40F;

//Color Background
$color-fondo-primario: #2C3E50;
$color-fondo-secundario: rgb(40, 55, 71);
$color-fondo-tercero: #212F3C;

//Color botones
$color-boton-primario: #566573;
$color-boton-secundario: #34495E;
$color-boton-tercero: #25d366;
$color-boton-cuarto: #128c7e;